<!DOCTYPE html>
    <html lang="vi">
    
<!--  -->
<!--  --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="author" content="Nแบกp thแบป Free Fire">

    <link rel="icon" type="image/png" href="images/favicon.ico">

    <title>Free Fire - Trung tรขm nแบกp thแบป Garena</title>
    
    <meta name="description" content="Trang nแบกp kim cฦฐฦกng Free Fire lร ฤแปi tรกc chรญnh thแปฉc cแปงa nhร phรกt hรnh Garena" />
    <meta name="keywords" content="nแบกp free fire, nแบกp thแบป free fire, nแบกp kim cฦฐฦกng free fire, nแบกp game free fire, nแบกp tiแปn vรo free fire, nแบกp kim cฦฐฦกng free fire miแปn phรญ, nแบกp free fire vn, nแบกp free fire x5 kim cฦฐฦกng, nแบกp kim cฦฐฦกng free fire giรก rแบป, shop nแบกp kim cฦฐฦกng free fire, nแบกp kim cฦฐฦกng free fire x10, nแบกp kim cฦฐฦกng free fire 20k, nแบกp kim cฦฐฦกng free fire 10k, shop nแบกp kim cฦฐฦกng free fire uy tรญn, nแบกp kim cฦฐฦกng free fire giรก rแบป 10k, nแบกp kim cฦฐฦกng free fire giรก rแบป, nแบกp kim cฦฐฦกng free fire bแบฑng thแบป viettel, nแบกp kim cฦฐฦกng vรo game free fire, ... thรฌ napgameauto.com chรญnh lร lแปฑa chแปn cแปงa bแบกn.">
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/napthe1.css">
    <link href="css/style.css" rel="stylesheet">


    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom1.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<nav class="navbar navbar-default navbar-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
<span class="sr-only">Menu</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a href="/"><img class="navbar-brand" src="images/logo.png"  alt="Nแบกp thแบป Garena"></a>
<br><br>
</div>
</div>
</div>
</div>
</nav>
<section>
<div class="container">

<div class="banner"><img src="https://cdn.vn.garenanow.com/web/napthevn/sp_pc_19052022.png" alt=""></div>
<div class="main-section__title"><div class="main-section__title-txt main-section__title-channel"><img src="https://cdngarenanow-a.akamaihd.net/gop/app/0000/100/067/icon.png" style="width:25px;height:25px;"> &nbsp; Free Fire</div></div>

<p class="alert alert-info">Nhแบญn ngay <b><font color="red">SCAR Cรก Mแบญp ฤen</font></b> khi nแบกp thแบป <b>lแบงn ฤแบงu</b> cรณ mแปnh giรก tแปซ <b>200.000</b>โซ trแป lรชn.<br/>Nhรขn ฤรดi giรก trแป thแบป nแบกp cho <strong>lแบงn nแบกp ฤแบงu tiรชn</strong>.<br/><span style="font-style: italic; font-size: 13px; margin-top:15px;color:red;">(Chรบ รฝ: Mแปi IP chแป ฤฦฐแปฃc hฦฐแปng ฦฐu ฤรฃi mแปt lแบงn. Hแป thแปng nhแบญn thแบฅy ฤแปa chแป IP cแปงa bแบกn chฦฐa tแปซng nแบกp thแบป)</span></p>

<div class="row">
<div class="col-md-6">
<div class="form-thanh-toan">


<div>
<div id="thongbao"></div>
<label for="mathe">Tรชn ฤฤng nhแบญp Garena:</label>
<input type="text" class="form-control" value="" name="account" placeholder="Nhแบญp tรชn ฤฤng nhแบญp Garena">
</div>


<div>
<label>Loแบกi thแบป:</label>
<br/>
<input type="hidden" name="loaithe" id="telco" value="">
<img class="loai-the" src="images/viettel.png" title="Nแบกp thแบป FIFA Online 4 bแบฑng thแบป Viettel" alt="VIETTEL" value="VIETTEL">          
<img class="loai-the" src="images/mobifone.png" title="Nแบกp thแบป FIFA Online 4 bแบฑng thแบป Mobifone" alt="MOBIFONE" value="MOBIFONE">         
<img class="loai-the" src="images/vinaphone.png" title="Nแบกp thแบป FIFA Online 4 bแบฑng thแบป Vinaphone" alt="VINAPHONE" value="VINAPHONE">
<img class="loai-the" src="images/vietnamobile.png" title="Nแบกp thแบป FIFA Online 4 bแบฑng thแบป Garena" alt="VNMOBI" value="VNMOBI">
<img class="loai-the" src="images/gate.png" title="Nแบกp thแบป FIFA Online 4 bแบฑng thแบป GATE" alt="GATE" value="GATE">
</div>

<div>
<label for="menhgia">Mแปnh giรก thแบป:</label> <span style="font-style: italic; font-size: 13px; margin-top:15px;color:red;">(Chรบ รฝ: nแบฟu chแปn sai mแปnh giรก sแบฝ bแป mแบฅt thแบป)</span>
<select name="menhgia" id="menhgia" class="form-control" required="required">
<option value="0" selected="selected">- Chแปn mแปnh giรก -</option>
<option value="50000">50.000ฤ</option>
<option value="100000">100.000ฤ</option>
<option value="200000">200.000ฤ</option>
<option value="300000">300.000ฤ</option>
<option value="500000">500.000ฤ</option>
<option value="1000000">1.000.000ฤ</option>
</select>				
</div>

<div>
<label for="mathe">Mรฃ thแบป:</label>
<input type="text" class="form-control" name="mathe" id="mathe" placeholder="Nhแบญp mรฃ dฦฐแปi lแปp trรกng bแบกc ...">
</div>

<div>
<label for="seri">Sแป seri:</label>
<input type="text" class="form-control" name="seri" id="seri" placeholder="Nhแบญp sแป seri in trรชn thแบป ...">
</div>

<p style="font-style: italic;font-size: 13px; margin-top:15px;">* Bแบฑng cรกch nhแบฅn "NแบP THแบบ" ฤแปng nghฤฉa bแบกn ฤรฃ chแบฅp nhแบญn ฤiแปu khoแบฃn cแปงa trang web.</p>

<div class="error-msg thongbaoloi hide"></div>  <!--- Thรดng bรกo lแปi nhแบญp thiแบฟu -->


<div style="padding-top: 8px;"><button id="napthe" name="napthe" class="btn btn-danger btn-block" data-loading-text="<i class='fa fa-spinner fa-spin'></i> ฤANG NแบP THแบบ">NแบP THแบบ</button></div>

</div>
</div>

<div class="col-md-offset-1 col-md-5" >
<h2 class="table-title" style="padding-top: 10px;"><b>Bแบฃng giรก quy ฤแปi Kim cฦฐฦกng</b></h2>
<table class="table table-hover" style="-webkit-box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);">
<thead>
<tr>
<th class="text-danger" style="border: 1px solid #e1e1e1; text-align: center;">Mแปnh giรก</th>
<th class="text-danger" style="border: 1px solid #e1e1e1;  text-align: center;">Kim cฦฐฦกng</th>
</tr>
</thead>
<tbody>
<tr>
<td style="border: 1px solid #e1e1e1; text-align: center;">50 000 VNฤ</td>
<td style="border: 1px solid #e1e1e1;  text-align: center;">560 ๐</td>
</tr>
<tr>
<td style="border: 1px solid #e1e1e1; text-align: center;">100 000 VNฤ</td>
<td style="border: 1px solid #e1e1e1;  text-align: center;">2 030 ๐</td>
</tr>
<tr>
<td style="border: 1px solid #e1e1e1; text-align: center;">200 000 VNฤ</td>
<td style="border: 1px solid #e1e1e1;  text-align: center;">4 820  ๐</td>
</tr>
<tr>
<td style="border: 1px solid #e1e1e1; text-align: center;">300 000 VNฤ</td>
<td style="border: 1px solid #e1e1e1;  text-align: center;">8 320  ๐</td>
</tr>
<tr>
<td style="border: 1px solid #e1e1e1; text-align: center;">500 000 VNฤ</td>
<td style="border: 1px solid #e1e1e1;  text-align: center;">20 760 ๐</td>
</tr>
<tr>
<td style="border: 1px solid #e1e1e1; text-align: center;">1.000 000 VNฤ</td>
<td style="border: 1px solid #e1e1e1;  text-align: center;">46 200 ๐</td>
</tr>
</tbody>
</table>
</div>
</div>
<hr/>

<h4>Giแปi thiแปu</h4>
    <ul>
        <li>ฤฦฐแปฃc phรกt triแปn bแปi ฤแปi ngลฉ quแบฃn trแป viรชn thuแปc nhร phรกt hรnh Garena. <strong><a style="color: #C9302C;" href="/">uudainapthe.vn</a></strong> luรดn cho khรกch hรng sแปฑ tin tฦฐแปng vร ฦฐu ฤรฃi nhiแปu nhแบฅt khi <strong>nแบกp thแบป Free Fire</strong> tแบกi <strong><a style="color: #C9302C;" href="/">uudainapthe.vn</a></strong>.</li>
        <li>Lร trang nแบกp thแบป ฤฦฐแปฃc cแบฅp phรฉp bแปi nhร phรกt hรnh nรชn cรกc hรnh ฤแปng nแบกp thแบป trรชn hแป thแปng cแปงa chรบng tรดi ฤแบฃm bแบฃo <strong>an toรn</strong> tuyแปt ฤแปi cho tรi khoแบฃn cแปงa khรกch hรng.</li>
        <li><strong>Kim cฦฐฦกng Free Fire</strong> sแบฝ ฤฦฐแปฃc chuyแปn ngay lแบญp tแปฉc vรo tรi khoแบฃn sau khi nแบกp thแบป.</li>
        <li>Khรกch hรng cรณ thแป yรชn tรขm sแปญ dแปฅng dแปch vแปฅ cแปงa chรบng tรดi mร khรดng cแบงn lo ngแบกi vแป vแบฅn ฤแป bแบฃo mแบญt.</li>
    </ul>

<hr/>

<h4>Hฦฐแปng dแบซn nแบกp thแบป</h4>
<ol>
    <li>Khรกch hรng cแบงn chuแบฉn bแป thแบป cรo hแปฃp lแป ฤฦฐแปฃc cung cแบฅp trรชn hแป thแปng. Cรกc thแบป cรo hแปฃp lแป nhฦฐ <strong>Viettel</strong>, <strong>Vinaphone</strong>, <strong>Mobifone</strong>, <strong>Vietnamobile</strong> vร <strong>GATE</strong>.</li>
    <li>Khรกch hรng nhแบญp ฤแบงy ฤแปง thรดng tin vรo bแบฃng nแบกp thแบป bao gแปm: UID tรi khoแบฃn <strong>Free Fire</strong>, chแปn loแบกi thแบป cแบงn nแบกp, chแปn mแปnh giรก cแปงa thแบป cรo, ฤiแปn sแป seri vร mรฃ thแบป cแบงn nแบกp.</li>
    <li>Sau khi ฤiแปn ฤแบงy ฤแปง thรดng tin, khรกch hรng cแบงn kiแปm tra lแบกi kแปน thรดng tin cแปงa mรฌnh ฤแป trรกnh trฦฐแปng hแปฃp nhแบญp sai dแบซn ฤแบฟn bแป mแบฅt thแบป.</li>
    <li>Khi ฤรฃ kiแปm tra thรดng tin ฤiแปn vรo bแบฃng lร chรญnh xรกc. Khรกch hรng bแบฅm vรo nรบt <strong>"NแบP THแบบ"</strong>.</li>
    <li>Sau khi bแบฅm nรบt <strong>"NแบP THแบบ"</strong> quรฝ khรกch hรng vui lรฒng ฤแปฃi hแป thแปng kiแปm tra. Hแป thแปng kiแปm tra hoรn tแบฅt quรฝ khรกch hรng vui lรฒng ฤฤng nhแบญp vรo game ฤแป nhแบญn Kim cฦฐฦกng vร phแบงn thฦฐแปng.</li>
</ol>

</div>
<footer class="footer">
<div class="main-section">
CรNG TY Cแป PHแบฆN PHรT TRIแปN THแป THAO ฤIแปN Tแปฌ VIแปT NAM
<br>
Giแบฅy CNฤKKD sแป 0103959912, cแบฅp lแบงn ฤแบงu ngรy 09/06/2009 | Cฦก quan cแบฅp: Phรฒng ฤฤng kรฝ kinh doanh - Sแป Kแบฟ hoแบกch vร ฤแบงu tฦฐ TP Hร Nแปi
<br>
ฤแปa chแป trแปฅ sแป chรญnh: Tแบงng 29, Tรฒa nhร Trung tรขm Lotte Hร Nแปi, sแป 54 ฤฦฐแปng Liแปu Giai, Phฦฐแปng Cแปng Vแป, Quแบญn Ba ฤรฌnh, TP Hร Nแปi, Viแปt Nam
<br>
ฤiแปn thoแบกi: 09 15896520
</div>
<div class="container">
<nav class="footer-link-wrap">
<a class="footer-link-txt" href="#">Cรขu hแปi thฦฐแปng gแบทp</a> | <a class="footer-link-txt" href="#">ฤiแปu khoแบฃn sแปญ dแปฅng</a> | <a class="footer-link-txt" href="#">Chรญnh sรกch bแบฃo mแบญt</a>
</nav>
<nav class="footer-link-wrap text-small">

</nav>
</div>
</footer>

<!-- Ajax Top Up Card -->
<script src="/js/topUpCard.js"></script>

</body>

<!--  -->
</html>