<!DOCTYPE html>
    <html lang="vi">
    
<!-- --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="author" content="Nạp thẻ Free Fire">

    <link rel="icon" type="image/png" href="images/favicon.ico">

    <title>Trung tâm nạp thẻ Garena</title>

    <meta name="description" content="Trang nạp thẻ chính thức của nhà phát hành Garena. Nạp thẻ Garena nhanh nhất với nhiều ưu đãi đặc biệt. Nhân đôi nạp thẻ cho lần nạp thẻ đầu tiên" />
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">


    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="napthe.ejs"> -->
    <link href="css/style.css" rel="stylesheet">


    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="custom.ejs"></script> -->
</head>

<body class="home">
<nav class="navbar navbar-default navbar-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
<span class="sr-only">Menu</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a href="/"><img class="navbar-brand" src="images/logo.png"  alt="Nạp thẻ Garena"></a>
<br><br>
</div>
</div>
</div>
</div>
</nav>
<section>
<div class="container">
<div class="banner">
<a href="/" target="_blank" rel="noopener noreferrer"><img class="_3KIQC8Yf52Cwk_VNNq26_9" src="https://cdn.vn.garenanow.com/web/napthevn/sp_pc_19052022.png" alt=""></a>
</div>
<div class="main-section__title">
<div class="main-section__title-txt main-section__title-channel">Chọn game để nạp</div>
</div>

<div class="entries">
<div class="row">
    
<div class="col-md-4 col-sm-6 col-xs-6 entries_item">
<a href="/so">
<img src="https://cdngarenanow-a.akamaihd.net/gop/app/0000/010/090/icon.png" alt="Nạp FC FO4, Nạp FC FIFA Online 4" class="entries_item-img">
<h2 class="text-title" style="color: #333333;">Nạp Sò</h2>
</a>
</div>

<div class="col-md-4 col-sm-6 col-xs-6 entries_item">
<a href="lienquan">
<img src="https://cdngarenanow-a.akamaihd.net/gop/app/0000/100/054/icon.png" alt="Nạp quân huy, nạp quân huy liên quân" class="entries_item-img">
<h2 class="text-title" style="color: #333333;">Liên Quân Mobile</h2>
</a>
</div>

<div class="col-md-4 col-sm-6 col-xs-6 entries_item">
<a href="freefire">
<img src="https://cdngarenanow-a.akamaihd.net/gop/app/0000/100/067/icon.png" alt="Nạp kim cương, nạp kim cương free fire" class="entries_item-img">
<h2 class="text-title" style="color: #333333;">Free Fire</h2>
</a>
</div>

<div class="col-md-4 col-sm-6 col-xs-6 entries_item">
<a href="lol">
<img src="https://cdngarenanow-a.akamaihd.net/gop/app/0000/032/787/icon.png" alt="Nạp Uc Lậu, PUBG Mobile Lậu" class="entries_item-img">
<h2 class="text-title" style="color: #333333;">Liên Minh Huyền Thoại</h2>
</a>
</div>

<div class="col-md-4 col-sm-6 col-xs-6 entries_item">
<a href="fifaonline4">
<img src="https://cdngarenanow-a.akamaihd.net/gop/app/0000/032/837/icon.png" alt="Nạp FC FO4, Nạp FC FIFA Online 4" class="entries_item-img">
<h2 class="text-title" style="color: #333333;">FIFA Online 4 VN</h2>
</a>
</div>

<div class="col-md-4 col-sm-6 col-xs-6 entries_item">
<a href="fifaonline4">
<img src="https://cdngarenanow-a.akamaihd.net/gop/app/0000/100/072/icon.png" alt="Nạp FC FO4, Nạp FC FIFA Online 4" class="entries_item-img">
<h2 class="text-title" style="color: #333333;">FIFA Online 4 M VN</h2>
</a>
</div>

<div class="col-md-4 col-sm-6 col-xs-6 entries_item">
<a href="lienquan">
<img src="https://cdngarenanow-a.akamaihd.net/gop/app/0000/032/834/icon.png" alt="Nạp FC FO4, Nạp FC FIFA Online 4" class="entries_item-img">
<h2 class="text-title" style="color: #333333;">Blade and Soul</h2>
</a>
</div>

</div>
</div>
</div>
</section>
<br>
<br>

</div>
<footer class="footer">
<div class="main-section">
CÔNG TY TRUYỀN THÔNG ĐA PHƯƠNG TIỆN
<br>
Giấy CNĐKKD số 0103959912, cấp lần đầu ngày 09/06/2009 | Cơ quan cấp: Phòng Đăng ký kinh doanh - Sở Kế hoạch và đầu tư TP Đà Nẵng
<br>
Địa chỉ trụ sở chính: 
<br>
Điện thoại: 09 15896520
</div>
<div class="container">
<nav class="footer-link-wrap">
<a class="footer-link-txt" href="#">Câu hỏi thường gặp</a> | <a class="footer-link-txt" href="#">Điều khoản sử dụng</a> | <a class="footer-link-txt" href="#">Chính sách bảo mật</a>
</nav>
<nav class="footer-link-wrap text-small">

</nav>
</div>
</footer></body>

</html>
