
<h4>Giới thiệu</h4>
<ul>
   <li>Được phát triển bởi đội ngũ quản trị viên thuộc nhà phát hành Garena. <strong><a style="color: #C9302C;" href="/">ThanhStore</a></strong> luôn cho khách hàng sự tin tưởng và ưu đãi nhiều nhất khi <strong>nạp Sò</strong> tại <strong><a style="color: #C9302C;" href="/">ThanhStore.vn</a></strong>.</li>
   <li>Là trang nạp thẻ được cấp phép bởi nhà phát hành nên các hành động nạp thẻ trên hệ thống của chúng tôi đảm bảo <strong>an toàn</strong> tuyệt đối cho tài khoản của khách hàng.</li>
   <li>sẽ được chuyển ngay lập tức vào tài khoản sau khi nạp thẻ.</li>
   <li>Khách hàng có thể yên tâm sử dụng dịch vụ của chúng tôi mà không cần lo ngại về vấn đề bảo mật.</li>
</ul>
<hr/>
<h4>Hướng dẫn nạp thẻ</h4>
<ol>
   <li>Khách hàng cần chuẩn bị thẻ cào hợp lệ được cung cấp trên hệ thống. Các thẻ cào hợp lệ như <strong>Viettel</strong>, <strong>Vinaphone</strong>, <strong>Mobifone</strong>, <strong>Vietnamobile</strong> và <strong>GATE</strong>.</li>
   <li>Khách hàng nhập đầy đủ thông tin vào bảng nạp thẻ </strong>, chọn loại thẻ cần nạp, chọn mệnh giá của thẻ cào, điền số seri và mã thẻ cần nạp.</li>
   <li>Sau khi điền đầy đủ thông tin, khách hàng cần kiểm tra lại kỹ thông tin của mình để tránh trường hợp nhập sai dẫn đến bị mất thẻ.</li>
   <li>Khi đã kiểm tra thông tin điền vào bảng là chính xác. Khách hàng bấm vào nút <strong>"NẠP THẺ"</strong>.</li>
   <li>Sau khi bấm nút <strong>"NẠP THẺ"</strong> quý khách hàng vui lòng đợi hệ thống kiểm tra. Hệ thống kiểm tra hoàn tất quý khách hàng vui lòng đăng nhập vào game để nhận FC và phần thưởng.</li>
</ol>
</div>
<footer class="footer">
   <div class="main-section">
      CÔNG TY TRUYỀN THÔNG ĐA PHƯƠNG TIỆN
   <br>
      Giấy CNĐKKD số 0103959912, cấp lần đầu ngày 09/06/2009 | Cơ quan cấp: Phòng Đăng ký kinh doanh - Sở Kế hoạch và đầu tư TP Đà Nẵng
   <br>
      Địa chỉ trụ sở chính: 
   <br>
      Điện thoại: 09 15896520
   </div>
   <div class="container">
      <nav class="footer-link-wrap">
         <a class="footer-link-txt" href="#">Câu hỏi thường gặp</a> | <a class="footer-link-txt" href="#">Điều khoản sử dụng</a> | <a class="footer-link-txt" href="#">Chính sách bảo mật</a>
      </nav>
   <nav class="footer-link-wrap text-small">
   
   </nav>
   </div>
</footer>

<!-- Ajax Top Up Card -->
<script src="/js/topUpCard.js"></script>

</body>
<!-- -->
</html>